
<tr id="<%= "#{dom_id(movie)}_row" %>">
  <th scope="row">
    <%= movie.movie %>
  </th>
  <td>
    <%= movie.actor %>
  </td>
  <td>
    <%= movie.director %>
  </td>
  <td>
    <%= movie.year %>
  </td>
  <td>
    <%= movie.description %>
  </td>
  <td>
    <%= movie.filming_location %>
  </td>
</tr>
